{% extends 'index.html.twig' %}


{% block body %}
    <h2>Upload a new paste</h2>
    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.content) }}
        <div id="highlightedCode"></div>
        {{ form_row(form.expirationTime) }}
        {{ form_row(form.language) }}
        {{ form_row(form.accessLevel) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}

    {% if auth %}
        <p>Hello,{{userData.username}}!</p>
        <a href="{{path('app_personal_account')}}">
            <button>Account</button>
        </a>
        {% else %}
            <p>Hello,Guest!</p>
            <div class="conta-btn">
                <a href="{{path('app_login')}}">
                    <button>Sign In</button>
                </a>
                <a href="{{path('register')}}">
                    <button>Sign Up</button>
                </a>
            </div>
    {% endif %}

    
{% endblock %}
