{% extends 'index.html.twig' %}


{% block body %}
    <h2>Upload a new paste</h2>
    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.content) }}
        <div id="highlightedCode"></div>
        {{ form_row(form.expirationTime) }}
        {{ form_row(form.language) }}
        {{ form_row(form.accessLevel) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}

    {% if auth %}
        <p>Hello,{{userData.username}}!</p>
        <a href="{{path('app_personal_account')}}">
            <button>Account</button>
        </a>
        <a href="{{ path('app_logout') }}">
            <button>Logout</button>
        </a>
        {% else %}
            <p>Hello,Guest!</p>
            <div class="conta-btn">
                <a href="{{path('app_login')}}">
                    <button>Sign In</button>
                </a>
                <a href="{{path('register')}}">
                    <button>Sign Up</button>
                </a>
            </div>
    {% endif %}
<script>
    $(document).ready(function() {
        // Получаем ссылку из сессии
        const link = "{{ app.session.get('linkUnlisted')|e('js') }}";
        if (link) {
            $('<div class="popup-overlay"></div>').appendTo('body').fadeIn();
            const $popup = $('<div class="popup"></div>').appendTo('body').fadeIn();
            $popup.html(`<h3>Success!</h3><p>Your paste link: <a href="${link}" target="_blank">${link}</a></p><button id="closePopup">Close</button>`);
            
            $('#closePopup').click(function() {
                $popup.fadeOut();
                $('.popup-overlay').fadeOut(function() { $(this).remove(); });
            });
        }
    });
</script>
    
{% endblock %}
