{% extends 'index.html.twig' %}

{% block body %}
    <h2>Upload a new paste</h2>
    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.content, {'attr':{'class':'content-area'}}) }}
    {{ form_row(form.expirationTime) }}
    {{ form_row(form.accessLevel) }}
    {{ form_row(form.submit) }}
{{ form_end(form) }}
{% endblock %}
